*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#ffffff;
    color:#333;
}

/* Navbar */

header{
    background:#111;
    position:fixed;
    width:100%;
    z-index:1000;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 10%;
}

.logo{
    color:white;
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:20px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.nav-links a:hover{
    color:#00bcd4;
}

.menu-btn{
    display:none;
    color:white;
    font-size:28px;
    cursor:pointer;
}

/* Hero */

.hero{
    height:100vh;
    background:linear-gradient(rgba(0,0,0,.6),
    rgba(0,0,0,.6)),
    url('https://images.unsplash.com/photo-1498050108023-c5249f4df085');
    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-content h1{
    color:white;
    font-size:55px;
}

.hero-content span{
    color:#00bcd4;
}

.hero-content p{
    color:white;
    margin:15px 0;
    font-size:20px;
}

.btn{
    display:inline-block;
    background:#00bcd4;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
}

/* Sections */

section{
    padding:80px 10%;
}

h2{
    text-align:center;
    margin-bottom:30px;
    font-size:35px;
}

.about p{
    text-align:center;
    max-width:800px;
    margin:auto;
    line-height:1.8;
}

/* Skills */

.skill-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
}

.skill-card{
    background:white;
    padding:30px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,.1);
}

/* Projects */

.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.project-card{
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,.1);
    transition:.3s;
}

.project-card:hover{
    transform:translateY(-10px);
}

/* Contact */

form{
    max-width:600px;
    margin:auto;
}

input,
textarea{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    background:#00bcd4;
    color:white;
    border:none;
    padding:15px 30px;
    cursor:pointer;
}

/* Footer */

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}

/* Mobile */

@media(max-width:768px){

    .nav-links{
        display:none;
        flex-direction:column;
        background:#111;
        position:absolute;
        top:60px;
        right:0;
        width:200px;
        padding:20px;
    }

    .nav-links.active{
        display:flex;
    }

    .menu-btn{
        display:block;
    }

    .hero-content h1{
        font-size:35px;
    }
}
.project-image{
    width:100%;
    max-width:350px;
    height:auto;
    display:block;
    margin:15px auto;
    border-radius:10px;
    border:2px solid black;
}
.skill-image
{
    width: 100%;
    max-height: auto;
    max-width: 100px;
    height: auto;
    display: block;
    margin:15px auto;
    border-radius: 2px;
    border:1px solid black;
}
.contact-container{
    max-width:700px;
    margin:auto;
    background:rgb(255, 255, 255);
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.contact-item{
    margin:15px 0;
    font-size:18px;
}

.contact-item a{
    color:#00606c;
    text-decoration:none;
}

.contact-item a:hover{
    text-decoration:underline;
}